body{
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
.class1{
   height: 75px;
   padding: 20px;
    background-color: lightblue;
}
#box1{
    float: left;
    width: 50px;
    height: 50px;
    background-color: skyblue;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}
.class2{
    height: 75px;
    padding: 20px;
     background-color: lightblue;
 }
 #box2{
   float: right;
     width: 50px;
     height: 50px;
     background-color: skyblue;
     border-radius: 4px;
     margin: 5px;
     padding: 10px;
 }
 .class3{
    height: 75px;
    padding: 20px;
     background-color: lightblue;
 }
 #box3{
    float: left;
     width: 50px;
     height: 50px;
     background-color: skyblue;
     border-radius: 4px;
     margin: 5px;
     padding: 10px;
 }
 .class4{
    height: 75px;
    padding: 20px;
     background-color: lightblue;
 }
 #box4{
    float: right;
     width: 50px;
     height: 50px;
     background-color: skyblue;
     border-radius: 4px;
     margin: 5px;
     padding: 10px;
 }